<!-- <app-camera (pictureTaken)="handleImage($event)"></app-camera> -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #8093e2;">
    <a class="navbar-brand m-2 p-2" href="#"><h2>FaceIt <i class="bi bi-emoji-sunglasses"></i></h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/dashboard">Dashboard</a>
        <a class="nav-item nav-link active" href="/courses">Courses</a>
        <a class="nav-item nav-link active" href="/sessions">Sessions</a>
        <a class="nav-item nav-link active" href="/employees">Students</a>
        <a class="nav-item nav-link" href="#">Logout</a>
        <!-- <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
      </div>
    </div>
    
  </nav>
<div class="snapshot" *ngIf="webcamImage">
<img [src]="webcamImage.imageAsDataUrl" />
</div>
<router-outlet></router-outlet>
<!-- <app-add-student>
    
</app-add-student> -->
