


<h2 class="p-2 m-5">Register Student <i class="bi bi-person"></i></h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="m-5 needs-validation p-2 w-50" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Name</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Full Name" value="Mark" formControlName="name" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Roll No</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Roll No"  formControlName="rollNo" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Email</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="email"  formControlName="email" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4 mb-3">
        <label for="validationCustom02">Major</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="Major" value="Computer Science" formControlName="course" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Term: </label>

      <select class="form-select" aria-label="Default select example"
          formControlName="batch">
          <option selected>Select</option>
          <!-- <ng-container *ngFor="let professor of professors"> -->
              <option [ngValue]="'Spring 2023'" value="'Spring 2023'">
                  Spring 2023
              </option>
              <option [ngValue]="'Fall 2024'" value="'Fall 2024'">
                  Fall 2024
              </option>
              <option [ngValue]="'Spring 2024'" value="'Spring 2024'">
                  Spring 2024
              </option>
          <!-- </ng-container> -->
      </select>

  </div>
    

    <!-- <div class="col-md-4 mb-3">
        <label for="validationCustom02">DOB</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div> -->
    <!-- <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend"></span>
        </div>
        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div> -->
  </div>
  <label class="form-check-label" for="invalidCheck">
    Register Face
  </label>
  <!-- <br>
  <button
  type="button"
  class="btn btn-light p-2 m-2" 
  (click)="openPopup()"><i class="bi bi-camera-fill"></i> Capture Face
</button>  -->
<br>
<br>
<!-- <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}"
  *ngIf="openCameraPopup"
  > 
  <div class="modal-dialog" role="document"> 
    
    <div class="modal-content"> 
        <button type="button" class="btn-close p-1 m-1" style = "align-self: end;" aria-label="Close" (click)="closePopup()"></button>
      <div class="modal-header" style = "align-self: center;"> 
        <h4 class="modal-title">Register FaceId</h4> 
      </div> 
      <div class="modal-body" style = "align-self: center;"> 
        <app-camera *ngIf="!imageTaken" (pictureTaken)="handleImage($event)"></app-camera>
        <img style="width:324px;" [src]="webcamImage?.imageAsDataUrl" />
        
      </div> 
      <div *ngIf="imageTaken" class="modal-footer"> 
        <button *ngIf="imageTaken" type="button" class="btn btn-primary" (click)="saveImage()">Save</button>
        <button *ngIf="imageTaken" type="button" class="btn btn-light" 
                (click)="clearImage()"> 
          Clear 
        </button> 

      </div> 
    </div> 
  </div> 
</div >  -->

<table>
  <tr style="vertical-align: sub;">
    <td>
      <app-camera-popup (imageClear)="clearImage()" (imageSave)="saveImage($event)" [heading]="'Register FaceId'"> 
      </app-camera-popup>
    </td>
    <td>OR</td>
    <td>
      <div>
        <!-- <label for="formFile" class="form-label">Default file input example</label> -->
        <input class="form-control p-2 m-2" type="file" accept="image/*" id="formFile" (input)="handleInputChange($event)">
      </div>
    </td>
  </tr>
</table>



<div>
    <button class="btn btn-light p-2 m-2" type="submit">Clear</button>
    <button class="btn btn-primary p-2 m-2" style="background-color: var(--main-color) !important; color: white" type="submit">Submit</button>
</div>
  
</form>

<!-- <hr />  -->




