<h4 class="p-3 m-3">Attendance - Course: {{courseId}} - {{courseName}}</h4>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button  class="nav-link active" id="nav-sessions-tab" data-bs-toggle="tab" data-bs-target="#nav-sessions"
            type="button" role="tab" aria-controls="nav-sessions" aria-selected="true">Sessions</button>
        <button class="nav-link" id="nav-analytics-tab" data-bs-toggle="tab" data-bs-target="#nav-analytics" type="button"
            role="tab" aria-controls="nav-analytics" aria-selected="false">Analytics</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-sessions" role="tabpanel" aria-labelledby="nav-sessions-tab">


       
        <div ngbAccordion [closeOthers]="true" *ngFor="let session of sessions; index as i">
            <!-- @for (item of items; track item) { -->
                <div ngbAccordionItem>
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton (click)="getSessionInfo(session.sessionId)">Session {{i+1}} - {{ session?.timeStamp | date }}</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <!-- Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                you probably haven't heard of them accusamus labore sustainable VHS. -->




                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">Roll No</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Present</th>
                                        <!-- <th>Actions</th> -->
                                  
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <ng-container *ngFor="let item of sessionAttendances[session.sessionId]; ; index as i">
                                        <tr>
                                  
                                          <th scope="row">{{item.rollNo}}
                                            
                                            </th>
                                          <td>{{item.studentName}}</td>
                                          
                                          <td>
                                            
                                            <i style="color:green; font-size:xx-large" *ngIf ="item.present" class="bi bi-check"></i>


                                            <i  style="color:red; font-size:xx-large" *ngIf ="!item.present"class="bi bi-x"></i>
                                            
                                        </td>
                                          <!-- <td>
                                          </td> -->
                                        </tr>
                                  
                                      </ng-container>
                                    </tbody>
                                  </table>
                                  <button type="button" class="btn btn-light"
                                  style="background-color: var(--main-color) !important; color: white" (click)="openSession(session.sessionId)">Open</button>
                        




                            </ng-template>
                        </div>

                    </div>

                </div>
            <!-- } -->
        </div>











    </div>
    <div class="tab-pane fade" id="nav-analytics" role="tabpanel" aria-labelledby="nav-analytics-tab">


        <table class="table table-striped p-3 m-3">
            <thead>
              <tr>
                <th scope="col">Roll No</th>
                <th scope="col">Name</th>
                <th scope="col">Attendance %</th>
                <!-- <th>Actions</th> -->
          
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of attendanceData; ; index as i">
                <tr>
          
                  <th scope="row">{{item.studentId}}
                    
                    </th>
                  <td>{{item.name}}</td>
                  
                  <td>{{item.percentageAttendance}}</td>
                  <!-- <td>
                  </td> -->
                </tr>
                

          
              </ng-container>
              
            </tbody>
          </table>

    </div>


</div>

